{% load static %}
</main> 


               <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-body-secondary">
                        <div class="col-6 text-start d-flex">
                            <a href="" class="text-body-secondary text-decoration-none">
                                <strong>xPack <sup>&copy;</sup></strong>
                            </a>

                            <p class="mx-2 d-none d-md-block">|</p>

                            <span class="opt d-none d-md-block">a product of mHrTech</span>
                        </div>

                         <div class="col-6 text-end text-body-secondary d-none d-md-block">

                           <ul class="list-inline mb-0 opt">
                                <li class="list-inline-item">
                                    <a href="" class="text-body-secondary">Contact</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="" class="text-body-secondary">About</a>
                                </li>

                                <li class="list-inline-item">
                                    <a href="" class="text-body-secondary">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>




    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.3/js/dataTables.bootstrap5.js"></script>  
   
        
    <script>
        new DataTable('#example',{ lengthMenu: [5, 10, 25, 50, -1]});
    </script>

</body>
</html>