{% include 'header.html' %}

{% block content%}
    <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Registry</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Registry</li>
                        </ol>
                    </div>
              
                            <div class="card mb-4 border-0 shadow">
                            <!-- <div class="card-header">
                                <i class='bxr  bx-table'  ></i> 
                                    Registry 
                                </div> -->
                            <div class="card-body table-responsive">
                                <table id="example" class="table table-striped tab-siz">
                                    <thead>
                                        <tr class="highlight">
                                            <th>RID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Family</th>
                                            <th>Membership</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>Yes</td>
                                            <td>
                                                <p class="badge text-bg-success text-center">Member</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>No</td>
                                            <td>
                                                <p class="badge text-bg-warning text-center">Visitor</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            
{% endblock%}


{% include 'footer.html' %}
