{% include 'header.html' %}

{% block content%}
   <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Manage Devices</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url  'devices'%}">Manage Devices</a></li>
                            <li class="breadcrumb-item active">Add Registrar</li>
                        </ol>
                    </div>



{% endblock%}
{% include 'footer.html' %}