{% extends 'registrar/base.html' %}
{% block title %} Family Registry {% endblock %}


{% block content %}

    <div class="container-fluid">
                   <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Family Register</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'reg_dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Family Register</li>
                        </ol>
                    </div>


            <div class="card mt-4 border-0 shadow">
                            <div class="card-body table-responsive">
                                <table id="example" class="table table-striped tab-siz">
                                    <thead>
                                        <tr class="highlight">
                                            <th>FID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Family Rep</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        {% for fam_member in fam_member_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{fam_member.name}}</td>
                                            <td>{{fam_member.contact}}</td>
                                            <td>{{fam_member.family_rep}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
            </div>


    </div>



{% endblock %}