{% extends 'registrar/base.html' %}
{% block title %} New Entry {% endblock %}


{% block content %}

    <div class="container-fluid">
                   <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Family Member</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'reg_dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Family Member</li>
                        </ol>
                    </div>

                    
                        <h3 class="text-center mb-4">Family Member</h3>
                        <div class="shadow mt-3 p-5 mx-auto container">
                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
                                    {{ family_form.name}}
                                </div>

                                <div class="mb-3">
                                    <label for="{{ form.contact.id_for_label }}" class="form-label">Contact</label>
                                    {{ family_form.contact}}
                                </div>

                                <div class="mb-3">
                                    <label for="{{ form.family_rep.id_for_label }}" class="form-label">Family Representative</label>
                                    {{ family_form.family_rep}}
                                </div>

                                <!-- {{family_form.as_p}} -->

                                <div class="d-flex justify-content-center align-items-center mt-5">
                                    <input type="submit" value="Save" class="reg px-5" >
                                </div>

                            </form>
                        </div>

{% endblock %}