{% extends 'registrar/base.html' %}
{% block title %} Packages {% endblock %}

{% block content %}

    <div class="container-fluid">
                   <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Package Give Out</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'reg_dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Package Give Out</li>
                        </ol>
                    </div> 


           <div class="card mb-4 border-0 shadow">
                            <div class="card-body table-responsive">
                                <table id="example" class="table table-striped tab-siz">
                                    <thead>
                                        <tr class="highlight">
                                            <th>PID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Membership</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        {% for registry in registry_list %}
                                        <tr>
                                            <td>{{ registry.id }}</td>
                                            <td>{{ registry.name }}</td>
                                            <td>{{ registry.contact }}</td>
                                           <td>
                                                {% if registry.membership == 'Member' %}
                                                <p class="badge text-bg-success text-center">Member</p>
                                                {% elif registry.membership == 'Visitor' %}
                                                <p class="badge text-bg-warning text-center">Visitor</p>
                                                {% else %}
                                                <p class="badge text-bg-secondary text-center">{{ registry.membership }}</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="me-4" href="{% url 'mark_package_action' registry.id 'served' %}">
                                                    <i class='bxr  bx-donate-heart text-success tr-give'  ></i>
                                                </a>

                                                <a href="{% url 'mark_package_action' registry.id 'rejected' %}">
                                                    <i class='bxr  bx-no-entry tr-can'  ></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>


    </div>



{% endblock %}