{% extends 'registrar/base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}

    <div class="container-fluid">
            <div class="mb-3">
                <h3 class="fw-bold fs-4 mb-3">Registrar Dashboard</h3>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item">Dashboard</li>
                </ol>
            </div>

            <div class="d-flex justify-content-between">
                <!-- new entry -->
                <button type="button" class="reg mb-4">
                    <span><i class='bxr  bx-plus'  ></i> </span>
                    <a href="{% url 'new_entry' %}"> <span class="text-white">New Entry</span>   </a>                          
                </button>

                <!-- family entry -->
                 <button type="button" class="reg mb-4">
                    <span><i class='bxr  bx-plus'  ></i> </span>
                    <a href="{% url 'family_entry' %}"> <span class="text-white">Add Family Members</span>                 </a>           
                </button>
            </div>
          
            <div class="card mt-4 border-0 shadow">
                            <div class="card-body table-responsive">
                                <table id="example" class="table table-striped tab-siz">
                                    <thead>
                                        <tr class="highlight">
                                            <th>RID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Family</th>
                                            <th>Membership</th>
                                        </tr>
                                    </thead>
                                
                                    <tbody>
                                        {%for new_entry in entry_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{new_entry.name}}</td>
                                            <td>{{new_entry.contact}}</td>
                                            <td>
                                                {% if new_entry.family == 'Yes' %}
                                                    <p class="badge text-bg-info text-center">Yes</p>
                                                {% elif new_entry.family == 'No' %}
                                                    <p class="badge text-bg-secondary text-center">No</p>
                                                {% else %}
                                                    <p class="badge text-bg-light text-center">Unknown</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if new_entry.membership == 'Member' %}
                                                    <p class="badge text-bg-success text-center">Member</p>
                                                {% elif new_entry.membership == 'Visitor' %}
                                                    <p class="badge text-bg-warning text-center">Visitor</p>
                                                {% else %}
                                                    <p class="badge text-bg-secondary text-center">Unknown</p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                </div>


    </div>



{% endblock %}