{% extends 'dashboard/base.html' %}
{% block title%}Manage Devices{% endblock%}

{% block content%}
   <div class="container-fluid">
                    <div class="mb-3">
                        <h3 class="fw-bold fs-4 mb-3">Manage Devices</h3>
                         <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url  'admin_dashboard'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Manage Devices</li>
                        </ol>
                    </div>
              
                           <!-- Button trigger modal -->
                            <button type="button" class="reg mb-4">
                                <div class="d-flex align-items-center">
                                    <i class='bxr  bx-plus'  ></i> 
                                    <a class="text-white ms-2" href="{% url 'add' %}">Add Registrar</a> 
                                </div>                         
                            </button>


                            <p>{{ reg_list }}</p>
                        <div class="card mb-4 border-0 shadow">
                            <!-- <div class="card-header">
                                <i class='bxr  bx-table'  ></i> 
                                    Registry 
                                </div> -->
                            <div class="card-body table-responsive">
                                <table id="example" class="table table-striped tab-siz">
                                    <thead>
                                        <tr class="highlight">
                                            <th>DID</th>
                                            <th>Name</th>
                                            <th>Contact</th>
                                            <th>Location</th>
                                            <th>Dev_Pswd</th>
                                            <th>Password</th>
                                            <th>Action</th>
                                        </tr>
                                       
                                    </thead>
                                
                                    <tbody>
                                        {%for registrar in registrar_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ registrar.name }}</td>
                                            <td>{{ registrar.contact }}</td>
                                            <td>{{ registrar.location }}</td>
                                            <!-- for purposes of development i am keeping this password field active -->
                                            <td>{{ registrar.password }}</td>
                                             <td>
                                                 <a href="" onclick="printRegistrarPassword('{{ registrar.password }}'); return false;" class="print">
                                                    <div class="d-flex align-items-center">
                                                        <i class='bxr  bx-printer'  ></i> 
                                                        <span class="ms-2">Print</span>
                                                    </div>
                                                    
                                                </a>
                                             </td>
                                            <td>
                                                <a class="me-4" href="{% url 'update_registrar' registrar.id %}">
                                                    <i class='bxr  bx-edit tr-edit'  ></i> 
                                                </a>

                                                <a href="{% url 'delete_registrar' registrar.id %}">
                                                    <i class='bxr  bx-trash tr-can'  ></i> 
                                                </a>
                                            </td>
                                        </tr>
                                         {%endfor%}
                                     </tbody>
                                </table>
                            </div>

                        </div>
{% endblock%}

